body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    color: #333;
}

#field{
    position: relative;
    width: 600px;
    height: 600px;
    border: 1px solid #333;
}

#car{
    position:absolute;
    width: 25px;
    height: 25px;
    left: 287px;
    top: 287px;
    background-color: red;
}